/* Start Variables */
:root {

    /* Primary Colors */
    --purple-color-50: hsl(260, 100%, 95%);
    --purple-color-300: hsl(264, 82%, 80%);
    --purple-color-500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --white-color: hsl(0, 0%, 100%);

    --grey-color-100: hsl(214, 17%, 92%);
    --grey-color-200: hsl(0, 0%, 81%);
    --grey-color-400: hsl(224, 10%, 45%);
    --grey-color-500: hsl(217, 19%, 35%);

    --dark-blue-color: hsl(219, 29%, 14%);
    --black-color: hsl(0, 0%, 7%);
}

/* End Variables */

/* Start Global Rules */
* {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--grey-color-100);
    color: var(--black-color);
    font-weight: 400;
    font-size: 0.8125em;
}

.container {
    /* padding: 100px; */
    margin: 130px auto;
    padding: 20px;
}

/* Small */
@media (max-width: 768px) {
    .container {
        margin: 50px auto;
        width: calc(100% - 20px);
        padding: 20px 0;
    }
}

/* Medium */
@media (min-width: 767px) {
    .container {
        width: calc(100% - 60px);
        /*padding: 30px;*/
    }
}

/* Large */
@media (min-width: 993px) {
    .container {
        width: calc(100% - 80px);
        /*padding: 40px;*/
    }
}

/* extra Large */
@media (min-width: 1300px) {
    .container {
        width: calc(100% - 200px);
        /*padding: 100px;*/
    }
}

/* End Global Rules */

/* Start Template */
.txt-white {
    color: var(--white-color);
}

.txt-light-grey-100 {
    color: var(--grey-color-100);
}

.txt-light-grey-200 {
    color: var(--grey-color-200);
}

.txt-dark-grey-400 {
    color: var(--grey-color-400);
}

.txt-dark-grey-500 {
    color: var(--grey-color-500);
}

.txt-light-purple {
    color: var(--purple-color-50);
}

.txt-dark-purple {
    color: var(--purple-color-300);
}

.title {
    font-size: 1.6em;
    line-height: 1.2;
    font-weight: 600;
}

.main-p {
    font-weight: 500;
    line-height: 1.4;
    font-size: 1.045em;
}

/* End Template */

.container .content {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(300px, 1fr));
    gap: 30px;
    justify-items: center;
}

@media (max-width: 768px) {
    .container .content {
        grid-template-columns: 1fr;
    }
}

.container .content .card {
    overflow: auto;
    display: flex;
    flex-direction: column;
    gap: 20px;
    padding: 30px;
    z-index: -2;
    box-shadow: 15px 15px 15px -12px var(--black-color);
    border-radius: 10px;
    -webkit-border-radius: 10px;
    -moz-border-radius: 10px;
    -ms-border-radius: 10px;
    -o-border-radius: 10px;
}

@media (max-width: 768px) {
    .title {
        font-size: 1.55em;
    }

    .main-p {
        font-weight: 500;
        line-height: 1.4;
        font-size: 1em;
    }

    .container .content .card {
        width: 100%;
    }
}

@media (min-width: 768px) {
    .main-p {
        font-weight: 500;
        line-height: 1.4;
        font-size: 1.044em;
    }

    .container .content {
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .container .content .card {
        padding: 30px 40px;
    }

    .container .content .card:nth-child(1) {
        grid-row: 1;
        grid-column: 1/span 2;
        position: relative;
    }

    .container .content .card:nth-child(1)::after {
        content: "";
        position: absolute;
        background: url(../images/bg-pattern-quotation.svg);
        background-size: contain;
        background-repeat: no-repeat;
        right: 0;
        top: 0;
        width: 32%;
        height: 37%;
        z-index: -1;
    }
}

@media (min-width: 1210px) {
    .container .content .card:nth-child(4) {
        grid-row: 2;
        grid-column: 2/span 2;
    }

    .container .content .card:nth-child(5) {
        grid-row: 1/span 2;
        grid-column: 4;
    }
}


.container .content .card .header {
    display: flex;
    gap: 20px;
    align-items: center;
}

.container .content .card .header .avatar {
    width: 40px;
    height: 40px;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.container .content .card .header .info {
    display: flex;
    flex-direction: column;
    gap: 3px;
}

.container .content .card .header .info .name {
    font-size: 1.1em;
}

.container .content .card .header .info .status {
    font-size: 0.95em;
}

.purple-card {
    background-color: var(--purple-color-500);
}

.purple-card .header .avatar {
    border: 2px solid var(--purple-color-300);
}

.grey-card {
    background-color: var(--grey-color-500);
}

.grey-card .header .avatar {
    border: 2px solid var(--grey-color-200);
}

.white-card {
    background-color: var(--white-color);
}

.white-card .header .avatar {
    border: 2px solid var(--grey-color-300);
}

.black-card {
    /*background-color: var(--black-color);*/
    background-color: var(--dark-blue-color);
}

.black-card .header .avatar {
    border: 2px solid var(--purple-color-500);
}

.attribution {
    text-align: center;
    margin: 30px auto;
    font-size: 16px;
}

.attribution a {
    color: var(--grey-color-400);
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}