/* Start Variables */
:root {

    /* Primary Colors */
    --purple-color-50: hsl(260, 100%, 95%);
    --purple-color-300: hsl(264, 82%, 80%);
    --purple-color-500: hsl(263, 55%, 52%);

    /* Neutral Colors */
    --white-color: hsl(0, 0%, 100%);

    --grey-color-100: hsl(214, 17%, 92%);
    --grey-color-200: hsl(0, 0%, 81%);
    --grey-color-300: hsl(222, 4%, 47%);
    --grey-color-400: hsl(224, 10%, 45%);
    --grey-color-500: hsl(217, 19%, 35%);

    --dark-blue-color: hsl(219, 29%, 14%);
    --black-color: hsl(0, 0%, 7%);

    --background-color: hsl(0, 0%, 96%);
}

/* End Variables */

/* Start Global Rules */
*, *::before, *::after {
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

html {
    font-family: "Barlow Semi Condensed", sans-serif;
    background-color: var(--background-color);
    color: var(--black-color);
    font-weight: 500;
    font-size: 0.8125rem;
}

.container {
    margin: 3em auto;
    padding: 3em;
    display: grid;
    gap: 2em;
}

@media (min-width: 49rem) {
    .container {
        margin: 9em auto 0;
        padding: 5em 12em 0;
        grid-template-columns: repeat(auto-fill, minmax(250px, 1fr));
    }

    .purple {
        grid-column: 1/span 2;
    }
}

@media (min-width: 62rem) {
    .card:nth-child(3) {
        order: 4;
    }

    .card:nth-child(4) {
        grid-column: span 2;
        order: 5;
    }

    .card:nth-child(5) {
        order:3;
        grid-row: span 2;
    }
}



.card {
    padding: 2.5em 2.9em;
    background-color: var(--card-color);
    display: grid;
    gap: 1.3em;
    box-shadow: 8px 16px 40px var(--grey-color-300);
    border-radius: 8px;
    -webkit-border-radius: 8px;
    -moz-border-radius: 8px;
    -ms-border-radius: 8px;
    -o-border-radius: 8px;
}

.header {
    display:flex;
    gap: 1.3em;
    align-items: center;
}

img {
    width: 100%;
    height: 100%;
}
.image
{
    width: 2.3em;
    height: 2.3em;
    border: 2px solid var(--border-color);
    overflow: hidden;
    border-radius: 50%;
    -webkit-border-radius: 50%;
    -moz-border-radius: 50%;
    -ms-border-radius: 50%;
    -o-border-radius: 50%;
}

.details {
    flex: 1;
}

.name {
    font-size: 0.9rem;
    font-weight: 500;
    margin-bottom: 0.2em;
    color: var(--main-color);
}

.status {
    font-size: 0.77rem;
    color: var(--secondery-color);
}

.title {
    font-size: clamp(1.4rem, 2vw + 1rem, 1.52rem);
    line-height: 1.1;
    color: var(--main-color);
    z-index: 2;
}

.quote {
    font-size: clamp(0.9rem, 2vw + 0.35rem, 0.985rem);
    line-height: 1.3;
    font-weight: 500;
    color: var(--secondery-color);
}

.purple {
    --card-color: var(--purple-color-500);
    --border-color: var(--purple-color-300);
    --main-color: var(--purple-color-50);
    --secondery-color: var(--purple-color-300);
}

.grey {
    --card-color: var(--grey-color-500);
    --border-color: var(--grey-color-200);
    --main-color: var(--grey-color-100);
    --secondery-color: var(--grey-color-200);
}

.white {
    --card-color: var(--white-color);
    --border-color: var(--grey-color-100);
    --main-color: var(--grey-color-400);
    --secondery-color: var(--grey-color-300);
}

.black {
    --card-color: var(--black-color);
    --border-color: var(--purple-color-500);
    --main-color: var(--grey-color-200);
    --secondery-color: var(--grey-color-200);
}

@media (min-width: 37.5rem) {
    .purple {
        position: relative;
    }

    .purple::after {
        content: url(../images/bg-pattern-quotation.svg);
        position: absolute;
        right: 5.2em;
        z-index: 1;
    }
}

.attribution {
    text-align: center;
    margin: 2em auto;
    font-size: 1rem;
}

.attribution a {
    color: var(--grey-color-400);
    font-style: italic;
    font-weight: 600;
    text-decoration: none;
}